.release
*.deflate
*.zip
*.gz
*.decompressed
*.compressed
.settings
.buildpath
.project
install
luacov*
profile.out
*.stderr
tmp
*.o
*.obj
*.exe
*.out
*.tmp
tmpFile
puff
zdeflate
*.zlib
*.compress
*.decompress
*.dict
*.stdin
*.stderr
*.stdout
*.rock