.release
*.deflate
*.zip
*.gz
*.decompressed
*.compressed
.settings
.buildpath
.project
install
luacov*
profile.out
*.stderr
tmp
*.o
*.obj
*.lib
*.exe
*.out
*.tmp
tmpFile
puff
zdeflate
*.zlib
*.compress
*.decompress
*.dict
*.stdin
*.stderr
*.stdout
*.rock
*.log
tests/huge_data/*
!tests/huge_data/README.md
.vscode
docs/**/*.html
